html{
    background-color: white;
}

header{
    background-color: #B09F91;
    margin-top: 0px;
    height: 15%;
    padding: 10px;
}

h1{
    text-align: left;
    margin-top: 2%;
    font-size: 50px;
}

.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.btn1, .btn2, .btn3 {
    float: left;
}

.li, .btn1, .btn2, .btn3 {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#titre{
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}

#logo{
    
}

#btn{
    display: flex;
    flex-direction: column;
    float: right;
}

#btn1{
    width: 25%;
    margin: 10px 10% 10px 2%;
}

#btn2{
    width: 25%;
    margin: 10px 50% 10px 2%;
}

#btn3{
    width: 25%;
    margin: 10px 10% 10px 2%;
}    

#nxt{
    background-color: #D9534F;
    color: white;
    padding: 5px;
    max-width: 75%;
    margin-left: 19px;
    margin-bottom: 10px;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

#lst{
    background-color: #D9534F;
    color: white;
    padding: 5px;
    margin-left: 19px;
    margin-bottom: 10px;
    max-width: 50%;
    width: 50%;
    max-height: inherit;
    overflow: scroll;
    font-size: 1vw;
}

#desc{
    background-color: black;
    color: white;
    padding: 5px;
    max-width: 90%;
    width: 90%;
    margin-left: 19px;
    margin-right: 19%;
    margin-bottom: 10px;
    padding-bottom: 30px;
    padding-top: 30px;
    border-radius: 10px;
    justify-content: center;
}

#byevent{
 background-color: black;
    color: white;
    padding: 5px;
    max-width: 198%;
    width: 198%;
    margin-left: 19px;
    margin-bottom: 10px;
    padding-bottom: 30px;
    padding-top: 30px;
    border-radius: 10px;
    justify-content: center;
}

#resul, #pright, #lastRunning{
    background-color: black;
    color: white;
    padding: 5px;
    max-width: 48%;
    width: 48%;
    margin-left: 19px;
    margin-bottom: 10px;
    margin-right: 4px;
    padding-bottom: 30px;
    padding-top: 30px;
    border-radius: 10px; 
    opacity: 0.9;
    filter: alpha(opacity=90);
}

#general{
    background-color: black;
    overflow: scroll;
    margin-top: 40px;
    color: white;
    width: 100%;
    height: 650px;
}

#pleft1{
    height: 400px;
    background-color: black;
    overflow: scroll;
    margin-bottom: 30px;
}

#pleft2, #photo{                  //image cap
    max-width: 100%;
    text-align: center;
    background-color: black;
}

#cap, #cc{
    max-width: 95%;
    width: 95%;
    max-height: 60%;
    height: 60%;
}

#general{
    height: 300px;
    margin-right: 15px;
    background-color: black;
    overflow: scroll;
}

main{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
}

body{
    color:black;
    background-color:white;
    background-image:url(img/trail.jpg);
}

choice{
    text-align: center;
}

@media screen and (max-width : 320px) {
    #lastRunning, #resul, #pright, #byevent{
        max-width: 100%;
        width: 100%;
        margin: auto;
    }
}