html{
    background-color: white;
}

header{
    background-color: #B09F91;
    margin-top: 0px;
    height: 15%;
    padding: 10px;
}

h1{
    text-align: left;
    margin-top: 2%;
    font-size: 50px;
}

#logo{
    position: absolute;
    top: 8px;
    left: 16px;
    width: 50%;
    max-width: 25px;
    height: auto;
    padding-top: 16px;
}

.btn{
    display:inline-block;
}

.btn1{
    width: 45%;
    margin: 10px 10% 10px 2%;
}

.btn2{
    width: 45%;
    margin: 10px 50% 10px 2%;
}

#nxt{
    background-color: #D9534F;
    color: white;
    padding: 5px;
    max-width: 50%;
    margin-left: 19px;
    margin-bottom: 10px;
}

#lst{
    background-color: #D9534F;
    color: white;
    padding: 5px;
    max-width: 90%;
    margin-left: 19px;
    margin-bottom: 10px;
}

#desc{
    background-color: black;
    color: white;
    padding: 5px;
    max-width: 95%;
    margin-left: 19px;
    margin-bottom: 10px;
    padding-bottom: 30px;
    padding-top: 30px;
    border-radius: 10px;
    
}

#resul, #pright{
    background-color: black;
    color: white;
    padding: 5px;
    max-width: 45%;
    width: 45%;
    margin-left: 19px;
    margin-bottom: 10px;
    padding-bottom: 30px;
    padding-top: 30px;
    border-radius: 10px; 
    opacity: 0.9;
    filter: alpha(opacity=90);
}

#general{
    background-color: black;
    overflow: scroll;
    margin-bottom: 30px;
    color: white;
    width: 100%;
}

#pleft1{
    height: 400px;
    background-color: black;
    overflow: scroll;
    margin-bottom: 30px;
}

#pleft2, #photo{                  //image cap
    max-width: 100%;
    text-align: center;
    background-color: black;
}

#cap, #cc{
    max-width: 95%;
    width: 95%;
    max-height: 60%;
    height: 60%;
}

#general{
    height: 600px;
    margin-right: 15px;
    background-color: black;
    overflow: scroll;
}

main{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
}

body{
    color:black;
    background-color:white;
    background-image:url(img/trail.jpg);
}

choice{
    text-align: center;
}
