html{
    background-color: white;
}

header{
    background-color: #B09F91;
    margin-top: 0px;
    heigh: 60%;
    padding: 50px;
}
h1{
    text-align: center;
    margin-top: 5%;
    font-size: 50px;
}
#logo{
    position: absolute;
    top: 8px;
    left: 16px;
    width: 100%;
    height: auto;
    padding-top: 16px;
}

.btn1{
    position: absolute;
    top: 11%;
    left: 80%;
}

.btn2{
    position: absolute;
    top: 11%;
    left: 90%;
}

#nxt{
    background-color: #D9534F;
    color: white;
    padding: 5px;
    max-width: 50%;
    margin-left: 19px;
    margin-bottom: 10px;
}

#desc{
    background-color: black;
    color: white;
    padding: 5px;
    max-width: 95%;
    margin-left: 19px;
    margin-bottom: 10px;
    padding-bottom: 30px;
    padding-top: 30px;
    border-radius: 10px;
    
}

#resul, #general{
    background-color: black;
    color: white;
    padding: 5px;
    max-width: 45%;
    width: 45%;
    margin-left: 19px;
    margin-bottom: 10px;
    padding-bottom: 30px;
    padding-top: 30px;
    border-radius: 10px; 
}

#pleft1{
    height: 400px;
    background-color: black;
    overflow: scroll;
    margin-bottom: 30px;
}

#pleft2{                  //image cap
    max-width: 100%;
    text-align: center;
}

#general{
    height: 600px;
    margin-right: 15px;
    background-color: black;
    overflow: scroll;
}

main{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
}

body{
color:black;
background-color:white;
background-image:url(img/trail.jpg);
}

choice{
    
    text-align: center;
}
